In [1]:
##########################################################################
# Created on Sat Otc 27 22:57:45 2021                                    #
# Python for Financial Analysis and Risk Management                      #
# @author: Meng Lipeng (FRM, CFA)                                        #
##########################################################################

# 3.4.1.Create two new dataframe

In [16]:
import pandas as pd
SH_Index=pd.read_excel('SHIndex_2020.xlsx',engine='openpyxl',sheet_name="Sheet1",header=0,index_col=0)

In [17]:
SH_Index_2019=pd.read_excel('SHIndex_2019.xlsx',engine='openpyxl',sheet_name="Sheet1",header=0,index_col=0)

In [18]:
SH_Index_2019.head()

                 Open       High        Low      Close
Date
2019-01-02  2497.8805  2500.2783  2456.4233  2465.2910
2019-01-03  2461.7829  2488.4790  2455.9256  2464.3628
2019-01-04  2446.0193  2515.3160  2440.9066  2514.8682
2019-01-07  2528.6987  2536.9775  2515.5083  2533.0887
2019-01-08  2530.3001  2531.3450  2520.1648  2526.4622

In [19]:
SH_Index_2019.tail()

                 Open       High        Low      Close
Date
2019-12-25  2980.4276  2988.2924  2970.6572  2981.8805
2019-12-26  2981.2485  3007.3546  2980.3966  3007.3546
2019-12-27  3006.8517  3036.1127  3003.6309  3005.0355
2019-12-30  2998.1689  3041.3969  2983.3436  3040.0239
2019-12-31  3036.3858  3051.6770  3030.5122  3050.1240

In [20]:
SH_Index_volume=pd.read_excel('SHIndexVolume_2020.xlsx',engine='openpyxl',sheet_name="Sheet1",header=0,index_col=0)

In [21]:
SH_Index_volume.head()

            Volume(100Million)  TotalCapital(Trillion)
Date
2020-01-02             3271.97                   41.30
2020-01-03             2899.92                   41.30
2020-01-06             3311.83                   41.28
2020-01-07             2881.59                   41.54
2020-01-08             3065.17                   41.04

In [22]:
SH_Index_volume.tail()

            Volume(100Million)  TotalCapital(Trillion)
Date
2020-12-25             3590.94                   47.58
2020-12-28             3981.60                   47.60
2020-12-29             3821.03                   47.38
2020-12-30             3775.42                   47.83
2020-12-31             4504.82                   48.63

# 3.4.2.concat()

# 3.4.3.merge()

# 3.4.4.join()