In [1]:
##########################################################################
# Created on Sat Otc 27 22:57:45 2021                                    #
# Python for Financial Analysis and Risk Management                      #
# @author: Meng Lipeng (FRM, CFA)                                        #
##########################################################################

# 3.4.1.Create two new dataframe

In [1]:
import pandas as pd
SH_Index=pd.read_excel('SHIndex_2020.xlsx',engine='openpyxl',sheet_name="Sheet1",header=0,index_col=0)

In [2]:
SH_Index_2019=pd.read_excel('SHIndex_2019.xlsx',engine='openpyxl',sheet_name="Sheet1",header=0,index_col=0)

In [3]:
SH_Index_2019.head()

                 Open       High        Low      Close
Date
2019-01-02  2497.8805  2500.2783  2456.4233  2465.2910
2019-01-03  2461.7829  2488.4790  2455.9256  2464.3628
2019-01-04  2446.0193  2515.3160  2440.9066  2514.8682
2019-01-07  2528.6987  2536.9775  2515.5083  2533.0887
2019-01-08  2530.3001  2531.3450  2520.1648  2526.4622

In [4]:
SH_Index_2019.tail()

                 Open       High        Low      Close
Date
2019-12-25  2980.4276  2988.2924  2970.6572  2981.8805
2019-12-26  2981.2485  3007.3546  2980.3966  3007.3546
2019-12-27  3006.8517  3036.1127  3003.6309  3005.0355
2019-12-30  2998.1689  3041.3969  2983.3436  3040.0239
2019-12-31  3036.3858  3051.6770  3030.5122  3050.1240

In [5]:
SH_Index_volume=pd.read_excel('SHIndexVolume_2020.xlsx',engine='openpyxl',sheet_name="Sheet1",header=0,index_col=0)

In [6]:
SH_Index_volume.head()

            Volume(100Million)  TotalCapital(Trillion)
Date
2020-01-02             3271.97                   41.30
2020-01-03             2899.92                   41.30
2020-01-06             3311.83                   41.28
2020-01-07             2881.59                   41.54
2020-01-08             3065.17                   41.04

In [7]:
SH_Index_volume.tail()

            Volume(100Million)  TotalCapital(Trillion)
Date
2020-12-25             3590.94                   47.58
2020-12-28             3981.60                   47.60
2020-12-29             3821.03                   47.38
2020-12-30             3775.42                   47.83
2020-12-31             4504.82                   48.63

# 3.4.2.concat()

## 1.Row based

In [8]:
SH_Index_new1=pd.concat([SH_Index_2019,SH_Index],axis=0)
SH_Index_new1.head()

                 Open       High        Low      Close
Date
2019-01-02  2497.8805  2500.2783  2456.4233  2465.2910
2019-01-03  2461.7829  2488.4790  2455.9256  2464.3628
2019-01-04  2446.0193  2515.3160  2440.9066  2514.8682
2019-01-07  2528.6987  2536.9775  2515.5083  2533.0887
2019-01-08  2530.3001  2531.3450  2520.1648  2526.4622

In [9]:
SH_Index_new1.tail()

                 Open       High        Low      Close
Date
2020-12-25  3351.7901  3397.0066  3348.3453  3396.5626
2020-12-28  3396.3590  3412.5193  3383.6540  3397.2854
2020-12-29  3399.2939  3407.0884  3376.0876  3379.0362
2020-12-30  3375.0086  3414.4539  3374.4156  3414.4527
2020-12-31  3419.7267  3474.9182  3419.7267  3473.0693

## 2.Column based

In [10]:
SH_Index_new2=pd.concat([SH_Index,SH_Index_volume],axis=1)
SH_Index_new2.head()

,Open,High,Low,Close,Volume(100Million),TotalCapital(Trillion)
Date,,,,,,
2020-01-02,3066.3357,3098.1001,3066.3357,3085.1976,3271.97,41.30
2020-01-03,3089.0220,3093.8192,3074.5178,3083.7858,2899.92,41.30
2020-01-06,3070.9088,3107.2032,3065.3088,3083.4083,3311.83,41.28
2020-01-07,3085.4882,3105.4507,3084.3290,3104.8015,2881.59,41.54
2020-01-08,3094.2389,3094.2389,3059.1313,3066.8925,3065.17,41.04

In [11]:
SH_Index_new2.tail()

,Open,High,Low,Close,Volume(100Million),TotalCapital(Trillion)
Date,,,,,,
2020-12-25,3351.7901,3397.0066,3348.3453,3396.5626,3590.94,47.58
2020-12-28,3396.3590,3412.5193,3383.6540,3397.2854,3981.60,47.60
2020-12-29,3399.2939,3407.0884,3376.0876,3379.0362,3821.03,47.38
2020-12-30,3375.0086,3414.4539,3374.4156,3414.4527,3775.42,47.83
2020-12-31,3419.7267,3474.9182,3419.7267,3473.0693,4504.82,48.63

# 3.4.3.merge()

In [12]:
SH_Index_new3=pd.merge(left=SH_Index,right=SH_Index_volume,left_index=True,right_index=True)
SH_Index_new3.head()

,Open,High,Low,Close,Volume(100Million),TotalCapital(Trillion)
Date,,,,,,
2020-01-02,3066.3357,3098.1001,3066.3357,3085.1976,3271.97,41.30
2020-01-03,3089.0220,3093.8192,3074.5178,3083.7858,2899.92,41.30
2020-01-06,3070.9088,3107.2032,3065.3088,3083.4083,3311.83,41.28
2020-01-07,3085.4882,3105.4507,3084.3290,3104.8015,2881.59,41.54
2020-01-08,3094.2389,3094.2389,3059.1313,3066.8925,3065.17,41.04

In [13]:
SH_Index_new3.tail()

,Open,High,Low,Close,Volume(100Million),TotalCapital(Trillion)
Date,,,,,,
2020-12-25,3351.7901,3397.0066,3348.3453,3396.5626,3590.94,47.58
2020-12-28,3396.3590,3412.5193,3383.6540,3397.2854,3981.60,47.60
2020-12-29,3399.2939,3407.0884,3376.0876,3379.0362,3821.03,47.38
2020-12-30,3375.0086,3414.4539,3374.4156,3414.4527,3775.42,47.83
2020-12-31,3419.7267,3474.9182,3419.7267,3473.0693,4504.82,48.63

# 3.4.4.join()

In [14]:
SH_Index_new4=SH_Index.join(SH_Index_volume, on='Date') #on can't emitted, default is row index based
SH_Index_new4.head()

,Open,High,Low,Close,Volume(100Million),TotalCapital(Trillion)
Date,,,,,,
2020-01-02,3066.3357,3098.1001,3066.3357,3085.1976,3271.97,41.30
2020-01-03,3089.0220,3093.8192,3074.5178,3083.7858,2899.92,41.30
2020-01-06,3070.9088,3107.2032,3065.3088,3083.4083,3311.83,41.28
2020-01-07,3085.4882,3105.4507,3084.3290,3104.8015,2881.59,41.54
2020-01-08,3094.2389,3094.2389,3059.1313,3066.8925,3065.17,41.04

In [15]:
SH_Index_new4.tail()

,Open,High,Low,Close,Volume(100Million),TotalCapital(Trillion)
Date,,,,,,
2020-12-25,3351.7901,3397.0066,3348.3453,3396.5626,3590.94,47.58
2020-12-28,3396.3590,3412.5193,3383.6540,3397.2854,3981.60,47.60
2020-12-29,3399.2939,3407.0884,3376.0876,3379.0362,3821.03,47.38
2020-12-30,3375.0086,3414.4539,3374.4156,3414.4527,3775.42,47.83
2020-12-31,3419.7267,3474.9182,3419.7267,3473.0693,4504.82,48.63